h1 {
  font-family: "Montserrat", serif;
  letter-spacing: 0.8rem;
  text-indent: 3.5rem;
  font-size: 3.7rem;
}

.header-box {
  width: 80%;
  height: 6rem;
  border: none;
  margin-left: 3.5rem;
  margin-top: 2rem;
  background-color: tan;
  display: flex;
  align-items: center;
}

.header-box > p:first-of-type {
  margin-left: 3rem;
  font-size: 1.5rem;
}

.header-box > p:last-of-type {
  margin-left: 1rem;
  font-family: "Montserrat", serif;
  font-size: 1.3rem;
}

.introduction {
  width: 80%;
  margin-left: 3.5rem;
  margin-top: 2rem;
  font-family: "Montserrat", serif;
  font-size: 1.3rem;
}

.links-div {
  width: 80%;
  margin-left: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link-div-set {
  width: 12rem;
  height: 9rem;
  border: 0.2rem solid black;
  margin: 1rem 4rem 0 4rem;
  border-radius: 1.2rem;
  font-size: 1.5rem;
  font-family: "Montserrat", serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link-div-set:hover {
  background-color: tan;
  opacity: 0.8;
}

.footer-text {
  margin-left: 3.5rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-family: "Montserrat", serif;
}

.footer-box {
  display: flex;
  flex-direction: row;
}

.technologies {
  margin: 1rem 3rem 1rem 1rem;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  text-shadow: 0.2rem 0.2rem gainsboro;
}
