:root {
  --orange: #fb8004
}

body {
  background-color: #eeeeee;
}

h1 {
  text-align: center;
  color: var(--orange);
  font-family:  Montserrat, monospace;
  font-size: 30pt;
}

.country-count {
  text-align: center;
  font-family: Montserrat, monospace;
  font-size: 15pt;
}

button {
  border: none;
  background-color: var(--orange);
  padding: 6px 15px 6px 15px;
  margin: 5px 18px 5px 18px;
  font-size: 9pt;
}

.data-buttons {
  display: flex;
  justify-content: center;
}

.data-box-text {
  text-align: center;
  font-family: Montserrat, monospace;
}

.data-charts {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-content: flex-start;
}

.data-charts-wrapper {
  display: flex;
  justify-content: center;
}
