@font-face {
  font-family: Montserrat;
  src: url(/usr/share/fonts/downloaded/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.main-div {
  width: 500pt;
  height: 300pt;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.parent-div{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh
}

#div-pressed-key {
  text-align: center;
  width: 600px;
  height: 95pt;
  box-shadow: 1px 1px 5px 8px #dedcdb;
}

p {
  font-family: Montserrat, Courier, monospace;
  font-size: 30pt;
  text-shadow: 2px 2px #dedcdb;
}
