@font-face {
  font-family: Montserrat;
  src: url(/usr/share/fonts/downloaded/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border: 1px solid black;
}

#div-pressed-key {
  text-align: center;
  border: 1px solid gray;
  width: 600px;
  height: 95pt;
  box-shadow: 1px 1px 5px 8px #dedcdb;
}

p {
  font-family: Montserrat, Courier, monospace;
  font-size: 30pt;
  text-shadow: 2px 2px #dedcdb;
}

#pressed-key {
  color: #1aa646;
}

#key-code {
  color: #1aa646;
  text-shadow: 2px 2px #dedcdb;
  margin: 10pt;
  margin-top: 20pt;
  transform: translateY(30%);
  padding: 0;
  font-size: 70pt;
  font-family: Montserrat, Courier, monospace;
}

#div-key-code {
  margin-top: 30pt;
  box-shadow: 5px 5px 4px 4px #dedcdb;
}
